{% extends "base.html" %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to my ecommerce</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p style="align: justify">
                        ¡Bienvenido a [Nombre del E-commerce]!

                        En [Nombre del E-commerce], nos dedicamos a ofrecerte una experiencia de compra en línea excepcional. 
                        Nuestro compromiso es proporcionarte una amplia gama de productos de alta calidad, cuidadosamente seleccionados para satisfacer tus necesidades y deseos.
                        Con [número de años] de experiencia en la industria del comercio electrónico, nos enorgullece ofrecer un servicio confiable y una atención al cliente excepcional. 
                        Desde moda y tecnología hasta hogar y jardín, nuestra tienda está repleta de productos que se adaptan a todos los estilos de vida y presupuestos.
                        
                        Nuestro equipo está formado por apasionados del comercio electrónico que se esfuerzan por superar tus expectativas en cada compra. Nos comprometemos a brindarte una experiencia de compra segura y conveniente, 
                        con opciones de pago flexibles y envío rápido a tu puerta.
                        
                        En [Nombre del E-commerce], valoramos la satisfacción del cliente por encima de todo. Por eso, nos esforzamos por mantener altos estándares de calidad en todos nuestros productos y servicios. Tu satisfacción es nuestra máxima prioridad.
                        
                        Explora nuestra tienda en línea y descubre una amplia variedad de productos emocionantes. ¡Gracias por elegir [Nombre del E-commerce] como tu destino de compras en línea preferido!
                        
                        ¡Estamos aquí para ayudarte en cada paso del camino!
                        
                        Atentamente,
                        El equipo de [Nombre del E-commerce]
                    </p>
                </div>                
            </center>
        </div>

    </div>
{% endblock %}