{% extends 'base.html' %}
{% load static %}
{% block content %}
        {% comment %} <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Carrito</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Mira tu carrito de compras!!</p>
                </div>
            </div>
        </header> {% endcomment %}
        <section class="h-100 h-custom" style="background-color: #eee;">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                  <div class="card">
                    <div class="card-body p-4">
          
                      <div class="row">
          
                        <div class="col-lg-7" style="width: 100%;">
                          {% comment %} <h5 class="mb-3"><a href="{% url 'store.home' %}" class="text-body"><i
                                class="fas fa-long-arrow-alt-left me-2"></i>Continuar Comprando</a></h5> {% endcomment %}
                          <hr>
          
                          <div class="d-flex justify-content-between align-items-center mb-4">
                            <div>
                              <p class="mb-1">Carrito de Compras</p>
                              {% comment %} <p class="mb-0">Tienes {{ cart|length }} en tu carrito</p> {% endcomment %}
                            </div>
                          </div>
                          
                          <div class="card mb-3">
                            <div class="card-body">
                                {% if cart_products|length > 0 %}
                                    {% for product in cart_products %}
                                    <div cart-products-row>
                                       <div style="max-width: 100%;" class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center" style="max-width: 80%">
                                                <img
                                                    src="{{product.image.url}}"
                                                    class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                            
                                            
                                                <div class="ms-3" style="margin-right: 5px;">
                                                    <h6>{{product.name}}</h6>
                                                    <h6 class="mb-0 product-price" id="product-price" data-product-price="{{product.sale_price}}">₡{{product.sale_price}}</h6>
                                                </div>
                                                
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <div style="width: 100%; margin-right: 15px;">
                                                  
                                                  <select class="form-select-sm quantity-select"
                                                   data-product-id="{{ product.id }}" id="select{{product.id}}">
                                                        {% for key, value in quantities.items %}
                                                          {% if key == product.id|slugify %}
                                                          <option selected>{{ value }}</option>
                                                          {% endif %}
                                                        {% endfor %}
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                    </select>
                                                </div>
                                                <div style="width: 100%;">
                                                  <button type="button" data-index="{{ product.id }}" class="mb-0 btn btn-secondary bg-danger delete-product">
                                                    <i class='bx bx-trash'></i>
                                                  </button>
                                                  <h6 class="mb-0 product-id" data-product-id="{{product.id}}" hidden></h6>
                                                </div>
                                                <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                        </div>
                                      </div>
                                    {% endfor %}
                                    <br>
                                    <strong style="font-size: 20px;">Total: ₡{{ totals }}</strong> 
                                    <br><br><br>
                                {% else %}
                                    <p>Tu carrito está vacío.</p>
                                {% endif %}
                                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-block btn-lg mt-4" id="btnBuy">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>Comprar<i class="fas fa-long-arrow-alt-right ms-2 align-items-center"></i></span>
                                    </div>
                                </button>
                            </div>
                          </div>
                        </div>
                          {% comment %} <div class="card bg-primary text-white rounded-3" id="buyDetailsModal" style="display: none;">
                            <div class="card-body">
                              <div class="d-flex justify-content-between align-items-center mb-4">
                                <h5 class="mb-0">Detalles de Compra</h5>
                                <img width="48" height="48" src="{% static 'img/icons/icon-payment.png' %}" alt="online-payment-"
                                  class="img-fluid rounded-3" style="width: 45px;"> 
                              </div>
          
                              
                            
          
                              <form class="mt-4">
                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                  <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                    placeholder="Nombre de Tarjeta" />
                                </div>
          
                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                  <input type="text" class="form-control form-control-lg" siez="17"
                                    placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                                </div>
          
                                <div class="row mb-4">
                                  <div class="col-md-6">
                                    <div data-mdb-input-init class="form-outline form-white">
                                      <input type="text" id="typeExp" class="form-control form-control-lg"
                                        placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7" />
                                      <label class="form-label" for="typeExp">Expiration</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div data-mdb-input-init class="form-outline form-white">
                                      <input type="password" id="typeText" class="form-control form-control-lg"
                                        placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                                      <label class="form-label" for="typeText">Cvv</label>
                                    </div>
                                  </div>
                                </div>
          
                              </form>
          
                              <hr class="my-4">
          
                              <div class="d-flex justify-content-between">
                                <p class="mb-2">Subtotal</p>
                                <p class="mb-2">$4798.00</p>
                              </div>
          
                              <div class="d-flex justify-content-between">
                                <p class="mb-2">Envío</p>
                                <p class="mb-2">$20.00</p>
                              </div> 
          
                              <div class="d-flex justify-content-between mb-4">
                                <p class="mb-2">Total</p>
                                <p class="mb-2">$4818.00</p>
                              </div>
          
                              <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-block btn-lg">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                </div>
                              </button>
          
                            </div>
                          </div> {% endcomment %}
                      </div>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    <br/> <br/> <br/> <br/> <br/>

    
<script>
    document.getElementById('btnBuy').addEventListener('click', function () {
        document.getElementById('buyDetailsModal').style.display = 'block';
    });

    $('.quantity-select').on('change', function() {
      var productId = $(this).data('product-id');
      var quantity = parseInt($(this).val());
      
      if (isNaN(quantity)) {
        console.error('Invalid quantity value.');
        return; // Exit if quantity is invalid
      }
      console.log(quantity)
      
      // Agregamos el debugger aquí
      //debugger;
      
      $.ajax({
        url: '{% url 'cart_update' %}', // Replace with your cart update endpoint
        type: 'POST',
        data: {
          product_id: productId,
          product_qty: quantity,
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post'
        },
        
        success: function(data) {
          
          // Handle successful cart update on the server (optional)
          //document.getElementById("cart_quantity").textContent = json.qty
          console.log('Cart updated successfully on server:', data);
          location.reload();
          
        },
        error: function(xhr, status, error) {
          console.error('Error updating cart on server:', error);
          // Handle potential server errors gracefully (optional)
        }
      });
    });
    $(document).on('click', '.delete-product', function(e){
      e.preventDefault();
      //grab the product id
      //var productId = $(this).data('index');

      $.ajax({
        type: 'POST',
        url: '{% url 'cart_delete' %}',
        data: {
          product_id: $(this).data('index'),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post'
        },
        success: function(json){
          
          location.reload();
        },
        error: function(xhr, errmsj, err){

        }
      })
    });
</script>
{% endblock %}
