{% extends 'base.html' %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce!!</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">Sit consequat amet labore duis. Duis irure reprehenderit aute cillum qui ad sunt dolor aliqua consectetur in minim. Velit voluptate deserunt aliquip eu reprehenderit eu sit proident. Ut occaecat qui ad fugiat officia ut sint ullamco qui do reprehenderit mollit voluptate. Nostrud dolore duis adipisicing magna quis laborum aliquip amet magna mollit. Aliqua ipsum consequat proident sint. Aliqua esse sit do aliquip dolore.
                    <br/><br/>
                    Cillum veniam non est ex. Elit velit nulla labore nisi ea dolor ad non consequat reprehenderit enim. Labore aliqua quis voluptate excepteur eiusmod aliquip do pariatur. Laborum occaecat officia ut proident eu. Ex exercitation laboris deserunt cillum adipisicing commodo tempor. Anim ipsum est cillum nisi. Labore aliqua id anim occaecat. </p>
                </div>
            </center>
        </div>
    </div>
{% endblock %}