{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12"> <!-- Aumenté el ancho para acomodar la tabla -->
            <br/><br/>
            <h3 class="text-center">Productos</h3>
        
            <div class="table-responsive">
                <table id="table_products" class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Categoría</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>

                            <td name="product_img">
                                <div class="image-container" style="position: relative;">
                                    <img class="product-image" style="height: 40px; width: 100%;" src="{{ product.image.url }}" alt="...">
                                    <input type="file" class="product-image-input form-control-file d-none" accept="image/*">
                                    <label for="product_image_input" class="edit-image btn btn-sm btn-primary d-none" style="position: absolute; top: 0; right: 0;">
                                        <i class="bx bx-plus"></i>
                                    </label>
                                </div>
                            </td>
                            
                            
                            <td name="product_name">
                                <span>{{ product.name }}</span>
                                <input type="text" id="product_name" name="product_name" class="form-control d-none" value="{{ product.name }}">
                            </td>
                            <td name="product_price">
                                <span>{{ product.sale_price }}</span>
                                <input type="text" id="product_price" name="product_price" class="form-control d-none" value="{{ product.sale_price }}">
                            </td>
                            {% comment %} <td name="product_category">
                                <span>{{ product.category.name }}</span>
                                <ul id="product_category_dropdown" class="dropdown-menu d-none" aria-labelledby="navbarDropdown">
                                    <li><hr class="dropdown-divider" /></li>
                                    {% for category in categories %}
                                        <li class="dropdown-item"><input type="text" id="product_category" name="product_category" class="form-control d-none" value="{{ product.price }}"></li>
                                    {% endfor %}
                                </ul>
                            </td> {% endcomment %}
                            <td name="product_category">
                                <span>{{ product.category.name }}</span>
                                <div id="category_dropdown" class="dropdown d-none">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ product.category.name }}
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><hr class="dropdown-divider"></li>
                                        {% for category in categories %}
                                            <li><a class="dropdown-item" name="product_category" href="#" data-category-id="{{ category.id }}">{{ category.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </td>
                            
                            <td>
                                <button class="btn btn-info btn-edit">Editar</button>
                                <input type="hidden" id="product_id" name="product_id" value="{{ product.id }}">
                                <button type="button" id="update_product" class="btn btn-success btn-sm btn-confirm d-none" style="margin-right: 4px;"><i class='bx bx-check'></i></button>
                                <button class="btn btn-sm btn-danger btn-delete d-none" style="margin-right: 4px;"><i class='bx bx-trash'></i></button>
                                <button class="btn btn-sm btn-outline-secondary btn-cancel d-none" style="margin-top: 10px;">Cancelar</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="button" id="add_product" class="btn btn-success btn-add">Añadir Producto</button>
            </div>
        </div>
    </div>
</div>
{% comment %} 
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button> {% endcomment %}

<!-- Modal para agregar producto -->
<div class="modal fade" id="add_product_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir Producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add_product_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="add_product_name" class="col-form-label">Nombre</label>
                        <input type="text" class="form-control" id="add_product_name" name="new_product_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="add_product_price" class="col-form-label">Precio</label>
                        <input type="number" class="form-control" id="add_product_price" name="new_product_price" required>
                    </div>
                    <div class="mb-3">
                        <label for="add_product_category" class="col-form-label">Categoría</label>
                        <select class="form-select" id="add_product_category" name="new_product_category" required>
                            <option value="">Seleccionar categoría</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="add_product_description" class="col-form-label">Descripción</label>
                        <textarea class="form-control" id="add_product_description" name="new_product_description" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="add_product_img" class="col-form-label">Imagen</label>
                        <input type="file" class="form-control" id="add_product_img" name="new_product_img" accept="image/*" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="confirm_add_product">Añadir</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="delete_product_modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Está seguro de eliminar la categoría?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" id="confirm_delete_product">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

<script>
    $(document).ready(function() {
        $('#table_products').DataTable({
            "language": {
                "decimal":        "",
                "emptyTable":     "No hay datos disponibles en la tabla",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            "order": [] // Deshabilitar ordenamiento inicial
        });
        $('.btn-edit').click(function() {
            // Encontrar elementos relacionados en la misma fila
            var row = $(this).closest('tr');
            var btnEditar = $(this);
            var btnConfirmar = row.find('.btn-confirm');
            var btnCancel = row.find('.btn-cancel');
            var btnDelete = row.find('.btn-delete');
            var spanNombre = row.find('td[name="product_name"] span');
            var inputNombre = row.find('td[name="product_name"] input[type="text"]');
            var spanPrecio = row.find('td[name="product_price"] span');
            var inputPrecio = row.find('td[name="product_price"] input[type="text"]');
            var spanCategoria = row.find('td[name="product_category"] span');
            var dropdownCategoria = row.find('.dropdown');
            var editImageButton = row.find('.edit-image'); // Selector para el botón de editar imagen
    
            // Ocultar botón Editar y mostrar botón Confirmar
            btnEditar.addClass('d-none');
            btnConfirmar.removeClass('d-none');
            btnCancel.removeClass('d-none');
            btnDelete.removeClass('d-none');
    
            // Mostrar input para editar nombre y ocultar span
            inputNombre.removeClass('d-none');
            spanNombre.addClass('d-none');
            inputPrecio.removeClass('d-none');
            spanPrecio.addClass('d-none');
    
            // Mostrar input para editar categoría y ocultar span y dropdown
            
            spanCategoria.addClass('d-none');
            dropdownCategoria.removeClass('d-none'); // Mostrar el dropdown

            //Mostrar el boton de cambiar imagen
            editImageButton.removeClass('d-none');
        });
    
        // Evento para el botón Confirmar
        $('.btn-confirm').click(function() {
            var row = $(this).closest('tr');
            var btnEditar = row.find('.btn-edit');
            var btnConfirmar = $(this);
            var btnCancel = row.find('.btn-cancel');
            var btnDelete = row.find('.btn-delete');
            var spanNombre = row.find('td[name="product_name"] span');
            var inputNombre = row.find('td[name="product_name"] input[type="text"]');
            var spanPrecio = row.find('td[name="product_price"] span');
            var inputPrecio = row.find('td[name="product_price"] input[type="text"]');
            var spanCategoria = row.find('td[name="product_category"] span');
            var dropdownCategoria = row.find('.dropdown');
            var editImageButton = row.find('.edit-image');
            
            // Mostrar botón Editar y ocultar botón Confirmar
            btnEditar.removeClass('d-none');
            btnConfirmar.addClass('d-none');
            btnCancel.addClass('d-none');
            btnDelete.addClass('d-none');
            
            // Ocultar input de edición y mostrar span
            inputNombre.addClass('d-none');
            spanNombre.removeClass('d-none');
            inputPrecio.addClass('d-none');
            spanPrecio.removeClass('d-none');
            // Mostrar input para editar categoría y ocultar span y dropdown
            
            spanCategoria.removeClass('d-none');
            dropdownCategoria.addClass('d-none'); // Mostrar el dropdown

            editImageButton.addClass('d-none');
        });

        // Evento para el botón Cancelar
        $('.btn-cancel').click(function() {
            var row = $(this).closest('tr');
            var btnEditar = row.find('.btn-edit');
            var btnConfirmar = row.find('.btn-confirm');
            var btnCancel = $(this);
            var btnDelete = row.find('.btn-delete');
            var spanNombre = row.find('td[name="product_name"] span');
            var inputNombre = row.find('td[name="product_name"] input[type="text"]');
            var spanPrecio = row.find('td[name="product_price"] span');
            var inputPrecio = row.find('td[name="product_price"] input[type="text"]');
            var spanCategoria = row.find('td[name="product_category"] span');
            var dropdownCategoria = row.find('.dropdown');
            var editImageButton = row.find('.edit-image');
            
            // Mostrar botón Editar y ocultar botón Confirmar
            btnEditar.removeClass('d-none');
            btnConfirmar.addClass('d-none');
            btnCancel.addClass('d-none');
            btnDelete.addClass('d-none');
            
            // Ocultar input de edición y mostrar span
            inputNombre.addClass('d-none');
            spanNombre.removeClass('d-none');
            inputPrecio.addClass('d-none');
            spanPrecio.removeClass('d-none');

            // Mostrar input para editar categoría y ocultar span y dropdown
            spanCategoria.removeClass('d-none');
            dropdownCategoria.addClass('d-none'); // Mostrar el dropdown

            editImageButton.addClass('d-none');
        });

    // Evento para actualizar el producto
        $(document).on('click', '#update_product', function(e) {
            e.preventDefault();

            var row = $(this).closest('tr');
            var productId = row.find('#product_id').val();
            var productName = row.find('#product_name').val();
            var productPrice = row.find('#product_price').val();
            var productCategory = row.find('td[name="product_category"] .nav-link').attr('data-category-id'); // Obtener el ID de la categoría seleccionada
            var productImage = row.find('.product-image-input').prop('files')[0]; // Obtener la imagen seleccionada

            console.log('Product ID:', productId);
            console.log('Product Name:', productName);
            console.log('Product Price:', productPrice);
            console.log('Product Category ID:', productCategory);
            console.log('Product Image:', productImage);

            var formData = new FormData();
            formData.append('product_id', productId);
            formData.append('product_name', productName);
            formData.append('product_price', productPrice);
            formData.append('product_category', productCategory);
            formData.append('product_image', productImage); // Agregar la imagen al FormData
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            formData.append('action', 'post');

            // Enviar la solicitud POST al servidor
            $.ajax({
                type: 'POST',
                url: '{% url 'update_products' %}',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if (response && response.message) {
                        swal("Éxito", response.message, "success")
                            .then(function() {
                                window.location.reload(); // Recargar la página después de añadir la categoría
                            });
                    } else {
                        swal("Error", "Ocurrió un problema al actualizar el producto", "error");
                    }
                },
                error: function(xhr, errmsg, err) {
                    if (xhr.responseJSON && xhr.responseJSON.error) {
                        swal("Error", xhr.responseJSON.error, "error");
                    } else {
                        swal("Error", "Ocurrió un problema en el servidor", "error");
                    }
                }
            });
        });

        $('#confirm_add_product').click(function() {
            var new_product_name = $('#add_product_name').val();
            var new_product_price = $('#add_product_price').val();
            var new_product_category = $('#add_product_category').val();
            var new_product_description = $('#add_product_description').val();
            var new_product_img = $('#add_product_img')[0].files[0];
        
            // Crear un objeto FormData para enviar los datos
            var formData = new FormData();
            formData.append('new_product_name', new_product_name);
            formData.append('new_product_price', new_product_price);
            formData.append('new_product_category', new_product_category);
            formData.append('new_product_description', new_product_description);
            formData.append('new_product_img', new_product_img);
        
            // Agregar el token CSRF al FormData
            var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
            formData.append('csrfmiddlewaretoken', csrfToken);
        
            // Enviar la solicitud POST al servidor
            $.ajax({
                type: 'POST',
                url: '{% url 'add_products' %}',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if (response && response.message) {
                        swal("Éxito", response.message, "success")
                            .then(function() {
                                $('#add_product_modal').modal('hide');
                                window.location.reload(); // Recargar la página después de añadir el producto
                            });
                    } else {
                        swal("Error", "Ocurrió un problema al agregar el producto", "error");
                    }
                },
                error: function(xhr, errmsg, err) {
                    swal("Error", "Ocurrió un problema en el servidor", "error");
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });

        //Añadir producto

        $('#add_product_form').submit(function(e) {
            e.preventDefault(); // Prevenir el comportamiento predeterminado del formulario
    
            // Obtener los datos del formulario incluyendo la imagen
            var formData = new FormData(this);
    
            // Agregar el token CSRF manualmente si no estás usando Django para renderizarlo en el template
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            formData.append('action', 'post'); // Asegurarse de incluir esta acción en los datos
    
            // Enviar la solicitud AJAX
            $.ajax({
                type: 'POST',
                url: '{% url 'add_products' %}',  // Ajustar la URL según tu configuración
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if (response && response.message) {
                        swal("Éxito", response.message, "success")
                            .then(function() {
                                $('#add_product_modal').modal('hide');  // Opcional: ocultar el modal después de agregar el producto
                                window.location.reload(); // Recargar la página después de añadir el producto
                            });
                    } else {
                        swal("Error", "Ocurrió un problema al agregar el producto", "error");
                    }
                },
                error: function(xhr, errmsg, err) {
                    if (xhr.responseJSON && xhr.responseJSON.error) {
                        swal("Error", xhr.responseJSON.error, "error");
                    } else {
                        swal("Error", "Ocurrió un problema en el servidor", "error");
                    }
                }
            });
        });
        // Evento para actualizar categoría
        $(document).on('click', '#delete_product', function(e) {
            e.preventDefault();
    
            var row = $(this).closest('tr');
            var productId = row.find('#product_id').val();
            var productName = row.find('#product_name').val();
            
            $.ajax({
                type: 'POST',
                url: '{% url 'delete_categories' %}',
                data: {
                    product_id: productId,
                    product_name: productName,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(response) {
                    if (response && response.message) {
                        swal("Éxito", response.message, "success")
                            .then(function() {
                                window.location.reload(); // Recargar la página después de eliminar la categoría
                            });
                    } else {
                        swal("Éxito", "Producto eliminada correctamente", "success")
                            .then(function() {
                                window.location.reload(); // Recargar la página después de eliminar la categoría
                            });
                    }
                },
                error: function(xhr, errmsg, err) {
                    if (xhr.responseJSON && xhr.responseJSON.error) {
                        swal("Error", xhr.responseJSON.error, "error");
                    } else {
                        swal("Error", "Ocurrió un problema en el servidor", "error");
                    }
                }
            });
        });
        $('#add_product').click(function() {
            $('#add_product_modal').modal('show');
        });



        $('#category_dropdown .dropdown-item').click(function(e) {
            e.preventDefault();
            
            // Obtener el texto de la categoría seleccionada
            var nombreCategoria = $(this).text().trim();
            
            // Actualizar el texto del span dentro de la celda
            $(this).closest('td[name="product_category"]').find('span').text(nombreCategoria);
            
            // Actualizar el texto del enlace que desencadena el dropdown
            var dropdownToggle = $(this).closest('#category_dropdown').find('.nav-link');
            dropdownToggle.text(nombreCategoria);
            dropdownToggle.attr('data-category-id', $(this).data('category-id')); // Agregar el ID de la categoría como atributo data
            
            // Opcionalmente, cerrar el dropdown después de seleccionar
            $(this).closest('.dropdown-menu').removeClass('show');
        });

        $(document).on('click', '.edit-image', function(e) {
            e.preventDefault();
            $(this).siblings('.product-image-input').click(); // Simular clic en el selector de archivos
        });
    
        // Evento para cambiar la imagen cuando se selecciona un archivo
        $(document).on('change', '.product-image-input', function(e) {
            var input = this;
            var file = input.files[0];
            var imageElement = $(this).siblings('.product-image'); // Buscar la imagen dentro del mismo contenedor
    
            if (file) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    imageElement.attr('src', e.target.result); // Actualizar la imagen en la fila con la nueva imagen seleccionada
                };
                reader.readAsDataURL(file);
            }
        });
    });
</script>

{% endblock %}
