{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Tienda con Estilo</h1>
            <p class="lead fw-normal text-white-50 mb-0">Tenemos lo que necesita!!</p>
        </div>
    </div>
</header>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="input-group mb-3 mt-4">
                <input type="text" id="searchInput" class="form-control" placeholder="Buscar..." aria-label="Search" aria-describedby="basic-addon2">
            </div>
            <div id="noProductsMessage" class="col-12 text-center" style="display: none;">
                <p>No existe el producto buscado</p>
            </div>
            {% for product in products %}
            <div class="col mb-5 product-item">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" style="height: 150px; width: 100%;" src="{{product.image.url}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product price-->
                            ₡{{ product.sale_price }}
                            <br/>
                            {{ product.description }}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View Product</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('searchInput');
        const productItems = document.querySelectorAll('.product-item');
        const noProductsMessage = document.getElementById('noProductsMessage');

        searchInput.addEventListener('input', function() {
            const filter = searchInput.value.toLowerCase();
            let hasVisibleProducts = false;

            productItems.forEach(function(item) {
                const productName = item.querySelector('.fw-bolder').textContent.toLowerCase();
                if (productName.includes(filter)) {
                    item.style.display = '';
                    hasVisibleProducts = true;
                } else {
                    item.style.display = 'none';
                }
            });

            if (hasVisibleProducts) {
                noProductsMessage.style.display = 'none';
            } else {
                noProductsMessage.style.display = 'block';
            }
        });
    });
</script>

{% endblock %}
