 {% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.is_superuser %}
        <!-- Contenido para superusuario -->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10 text-center">
                        <h1 class="display-4 text-white fw-bold mb-4">Panel de Administración</h1>
                        <p class="lead text-white-50 mb-4">Bienvenido/a, Administrador {{ user.username }}!!! 
                            <br>Puedes administrar y actualizar la información del sitio.</p>
                    </div>
                </div>
            </div>
        </header>
    {% else %}
        <!-- Contenido para usuarios autenticados no superusuario -->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10 text-center">
                        <h1 class="display-4 text-white fw-bold mb-4">Disfruta Ecom, {{ user.username }}!!</h1>
                        <p class="lead text-white-50 mb-4">Actualiza tu información personal y disfruta de los beneficios que te ofrece Ecom.</p>
                    </div>
                </div>
            </div>
        </header>
    {% endif %}
{% else %}
    <!-- Contenido para usuarios no autenticados -->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10 text-center">
                    <h1 class="display-4 text-white fw-bold mb-4">Bienvenido a Ecom!!</h1>
                    <p class="lead text-white-50 mb-4">Regístrate ahora para disfrutar de una experiencia de compra fluida. Olvídate de ingresar repetidamente tu dirección de entrega y detalles de pago en cada compra.</p>
                    <div class="mb-4">
                        <a href="{% url 'register' %}" class="btn btn-primary btn-lg me-4" style="background-color: #0FEFFF; color: black;">Registrarme</a>
                        <a href="{% url 'login' %}" class="btn btn-outline-light btn-lg">Iniciar Sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endif %}



<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="input-group mb-3 mt-4">
                <input type="text" id="searchInput" class="form-control" placeholder="Buscar..." aria-label="Search" aria-describedby="basic-addon2">
            </div>
            <div id="noProductsMessage" class="col-12 text-center" style="display: none;">
                <p>No existe el producto buscado</p>
            </div>
            {% for product in products|slice:":6" %}
            <div class="col-lg-4 col-md-6 mb-4 product-item">
                <div class="card shadow-sm border-0 h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" style="height: 250px; object-fit: cover;">
                    <!-- Product details-->
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title fw-bold mb-2">{{ product.name }}</h5>
                        <p class="card-text text-muted mb-3">{{ product.description }}</p>
                        <div class="mt-auto text-center">
                            <div class="price">₡{{ product.sale_price }}</div>
                            <a href="{% url 'product' product.id %}" class="btn btn-outline-dark mt-3">View Product</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('searchInput');
        const productItems = document.querySelectorAll('.product-item');
        const noProductsMessage = document.getElementById('noProductsMessage');

        searchInput.addEventListener('input', function() {
            const filter = searchInput.value.toLowerCase();
            let hasVisibleProducts = false;

            productItems.forEach(function(item) {
                const productName = item.querySelector('.fw-bolder').textContent.toLowerCase();
                if (productName.includes(filter)) {
                    item.style.display = '';
                    hasVisibleProducts = true;
                } else {
                    item.style.display = 'none';
                }
            });

            if (hasVisibleProducts) {
                noProductsMessage.style.display = 'none';
            } else {
                noProductsMessage.style.display = 'block';
            }
        });
    });
</script>

{% endblock %}
