{% extends 'base.html' %}
{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                
                <br><br>
                <form id="userForm" method="POST" action="{% url 'user_info' %}">
                    {% csrf_token %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <p></p>
                            <strong>Billing Information</strong>
                            <br><br>
                            {{ form.as_p }}
                            <br><br>
                            <strong>Shipping Information</strong>
                            <br><br>
                            {{ shipping_form.as_p }}
                        </div>
                    </div>
                    <div class="text-center">
                        <button id="confirmBtn" type="submit" class="btn btn-success">Confirmar Cambios</button>
                        <a id="cancelBtn" href="{% url 'home' %}" class="btn btn-outline-secondary ms-1">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
